<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wriber Pos</title>
</head>
<body>

	{%if messages%}
            {% for message in messages  %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
	{% endif %}


{% block content %}
<div class="container-fluid">
<h3 style="color: LawnGreen;">Congratulations, your new password is made</h3>

<h5>Your password has been made. You can <a href="{% url 'login-user' %}" style="color: blue;">log in now</a></h5>
</div>
{% endblock %}



</body>
</html>