{% extends "posApp/base.html" %}  {% block pageContent %}
{% if branch %}
<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
    <div class="mdc-card py-2">
        <div class="d-flex justify-content-between align-items-center">
            <h4 class="card-title mb-0">Customers</h4>
            <div class="text-start">

            </div>
        </div>
    </div>
</div>
<button onclick="window.print()" id="print"> Print Customer list
</button>
<button id="copy-to-clipboard">
    Copy Customer list
</button>
<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
    <div class="mdc-card">
        <div class="table-responsive">
            <table class="table table-striped table-bordered" id="content-to-copy">
                <colgroup>
                    <col width="5%">
                    <col width="20%">
                    <col width="25%">
                    <col width="10%">
                    <col width="10%">
                    <col width="10%">
                    <col width="10%">
                    <col width="10%">

                </colgroup>
                <thead>
                    <tr>
                        <th class="text-center py-1">#</th>
                        <th class="text-center py-1">Customer Name</th>
                        <th class="text-center py-1">Customer address</th>
                        <th class="text-center py-1">Customer Price</th>
                        <th class="text-center py-1">Customer Quantity</th>
                        <th class="text-center py-1">Date Added</th>
                        <th class="text-center py-1">View customer History</th>
                        <th class="text-center py-1">Sell to customer</th>
                    </tr>
                </thead>
                <tbody>
                {% if customers %}
                    {% for customer in customers %}
                    <tr>
                        <td class="px-2 py-1 text-center">{{ customer.id }}</td>
                        <td class="px-2 py-1 text-start">{{ customer.name }}</td>
                        <td class="px-2 py-1 text-start">{{ customer.address }}</td>
                        <td class="px-2 py-1 text-end">{{ customer.phone }}</td>
                        <td class="px-2 py-1 text-end">{{ customer.email }}</td>
                        <td class="px-2 py-1 text-center">{{ customer.date_added|date:'Y-m-d H:i' }}</td>
                        <td class="px-2 py-1 text-center">
                            <a href="{% url 'customer-sales-page' branch.pk customer.pk %}">
                                <button class="btn btn-outline-secondary">
                                    Transactions
                                </button>
                            </a>
                        </td>
                        <td class="px-2 py-1 text-center"><a href="{% url 'pos-customer' branch.pk customer.pk %}">
                            <button class="btn btn-outline-success">
                                Sell to customer
                            </button>
                        </a> </td>
                    </tr>
                    {% endfor %}
                {% else %}
                <h4>
                  No customers connection found for this branch.
                </h4>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endif %}
{% endblock pageContent %}{% block ScriptBlock %}
<script>
    const copyToClipBoard = () => {
        const copyContent = document.getElementById('content-to-copy');
        navigator.clipboard.writeText(copyContent.innerText);
    };

    const button = document.getElementById('copy-to-clipboard');
    button.addEventListener('click', () => {
        copyToClipBoard();
    });
</script>

{% endblock ScriptBlock %}
