{% extends "posApp/base.html" %} {% load humanize %} {% block pageContent %}
{% if branch %}
{% if customers %}

<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
    <div class="mdc-card py-2">
        <div class="d-flex justify-content-between align-items-center">
            <h4 class="card-title mb-0"><strong>{{ customers }}</strong> Transactions List</h4>
        </div>
    </div>
</div>
<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
    <div class="mdc-card">
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <colgroup>
                    <col width="5%">
                    <col width="15%">
                    <col width="18%">
                    <col width="24%">
                    <col width="15%">
                    <col width="10%">
                    <col width="13%">
                </colgroup>
                <thead>
                    <tr>
                        <th class="text-center py-1" width="5%">#</th>
                        <th class="text-center py-1" width="15%">DateTime</th>
                        <th class="text-center py-1" width="18%">Trans. Code</th>
                        <th class="text-center py-1" width="24%">Sold by</th>
                        <th class="text-center py-1" width="15%">Total</th>
                        <th class="text-center py-1" width="10%">Tax Inclusive</th>
                        <th class="text-center py-1" width="13%">Action</th>
                        <th class="text-center py-1" width="13%">Status</th>
                        <th class="text-center py-1" width="13%">Invoice</th>
                    </tr>
                </thead>
                <tbody>
                {% if list %}
                    {% for sale in list %}
                    <tr>
                        <td class="px-2 py-1 text-center" width="5%">{{ sale.id }}</td>
                        <td class="px-2 py-1 text-start" width="15%">{{ sale.date_added|date:'Y-m-d H:i' }}</td>
                        <td class="px-2 py-1 text-start" width="18%">{{ sale.code }}</td>
                        <td class="px-2 py-1 text-center" width="24%">by {{ sale.sold_by }}</td>
                        <td class="px-2 py-1 text-end" width="15%">D{{ sale.grand_total|intcomma }}</td>
                        <td class="px-2 py-1 text-end" width="10%">({{ sale.tax }}%) {{ sale.tax_amount|intcomma:2 }}</td>
                        <td class="px-2 py-1 text-center" width="13%">
                            <button class="mdc-button mdc-button--raised p-1 icon-button filled-button--light mdc-ripple-upgraded edit-data" type="button" data-id="{{ sale.id }}" title="Edit">
                                <i class="material-icons mdc-button__icon">edit</i>
                            </button>
                            <button class="mdc-button mdc-button--raised p-1 icon-button filled-button--light mdc-ripple-upgraded view-data" type="button" data-id="{{ sale.id }}" title="View Receipt">
                                <i class="material-icons mdc-button__icon">receipt</i>
                            </button>
                            {% if user.is_superuser %}
                            <button class="mdc-button mdc-button--raised p-1 icon-button filled-button--danger mdc-ripple-upgraded delete-data" type="button" data-id="{{ sale.id }}" data-code="{{ sale.code }}" title="Delete">
                                <i class="material-icons mdc-button__icon">deleteoutline</i>
                            </button>
                            {% endif %}
                        </td>
                        <td class="px-2 py-1 text-center">
                            {% if sale.is_paid %}
                            <span class="badge bg-success rounded-pill px-3">Paid</span> {% elif sale.is_partially_paid  %}
                            <span class="badge bg-primary rounded-pill px-3">Partially Paid</span>
                            {% else %}
                            <span class="badge bg-danger rounded-pill px-3">Not Paid</span> {% endif %}
                        </td>
                        <td class="px-2 py-1 text-center">
                            <a href="{% url 'sale-invoice' branch.id customers.id sale.id %}">
                                <button class="btn btn-outline-primary" style="border-radius: 20px;" data-id="{{ sale.id }}" title="View Invoice">
                                    Invoice
                                </button>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="pagination">
{% if list.has_previous %}
    <div class="" style="position: absolute; bottom: 55px; right: 175px;">
        <a href="{% url 'customer-sales-page' pk=branch.pk pk1=customers.pk %}?page_sale={{list.previous_page_number}}">
        <button class="btn btn-primary bg-gradient btn-sm rounded-0" style="width: auto;"><i class="mdi mdi-plus"></i><span>Previous Sale List</span></button>
        </a>
    </div>
{% endif %}
{% if list.has_next %}
    <div class="" style="position: absolute; bottom: 55px; right: 40px;">
        <a href="{% url 'customer-sales-page' pk=branch.pk pk1=customers.pk %}?page_sale={{list.next_page_number}}">
        <button class="btn btn-primary bg-gradient btn-sm rounded-0"><i class="mdi mdi-plus"></i><span>Next Sale List</span></button>
        </a>
    </div>
{% endif %}
</div>
{% endif %}
{% endif %}

{% endblock pageContent %} {% block ScriptBlock %}
<script>
    $(function() {
        $('.edit-data').click(function() {
            uni_modal("Edit Payment status", "{% url 'manage-sales-page' branch.pk customers.pk %}?id=" + $(this).attr('data-id'))
        })

        $('#uni_modal').on('shown.bs.modal', function() {
            $('#category_id').select2({
                placeholder: "Please Select Category Here",
                width: '100%',
                dropdownParent: $('#uni_modal')
            })
        })
    })

    $(function() {
        $('.view-data').click(function() {
            uni_modal("Transaction's Receipt", "{% url 'customer-receipt-modal' branch.pk customers.pk %}?id=" + $(this).attr('data-id'))
        })
        $('.delete-data').click(function() {
            _conf("Are you sure to delete <b>" + $(this).attr('data-code') + "</b> Transaction record?", "delete_sale", [$(this).attr('data-id')])
        })

    })

    function delete_sale($id) {
        start_loader();
        $.ajax({
            headers: {
                "X-CSRFToken": '{{csrf_token}}'
            },
            url: "{% url 'delete-customer-sale' branch.pk customers.pk %}",
            method: "POST",
            data: {
                id: $id
            },
            dataType: "json",
            error: err => {
                console.log(err)
                alert_toast("An error occured.", 'error');
                end_loader();
            },
            success: function(resp) {
                if (typeof resp == 'object' && resp.status == 'success') {
                    location.reload();
                } else {
                    alert_toast("An error occured.", 'error');
                    end_loader();
                }
            }
        })
    }
</script>
{% endblock ScriptBlock %}