{% load static %}

<style>
    .account-form input {
        border: 2px solid #ccc;
        height: calc(2em + .75rem + 2px);
    }

    .account-form input:focus {
        border-color: #1497ff;
        box-shadow: none;
    }
    .mdc-drawer-link{
    transition: 0.6s;
    color: gray;
    }
    .mdc-drawer-link:hover{
    background-color: black;
    color: white;
    }
    .mdc-drawer-item{
    transition: 0.6s;
    background-color: darkgray;
    }
</style>

<!-- partial:partials/_sidebar.html -->
<aside id="nav" class="mdc-drawer mdc-drawer--dismissible mdc-drawer--open bg-gradient" style="border-radius: 8px; transition: 1.0s; color: white; background-color: LightGray;">
    <div class="mdc-drawer__header border-bottom border-light">
        {% if branch1 %}
        <a href="{% url 'home-page' pk=branch1.pk %}" class="brand-logo">
            <h3 class="text-center text-dark">{{ branch1.name }}</h3>
        </a>
        {% elif branch %}
        <a href="{% url 'home-page' pk=branch.pk %}" class="brand-logo">
            <h3 class="text-center text-dark">{{ branch.name }}</h3>
        </a>
        {% endif %}
    </div>
    <div class="mdc-drawer__content">
        <div class="mdc-list-group">
            <nav class="mdc-list mdc-drawer-menu">
                <div class="mdc-list-item mdc-drawer-item" style="border-radius: 20px;">
                    {% if branch1 %}
                    <a class="mdc-drawer-link" href="{% url 'home-page' pk=branch1.pk %}">
                        <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">home</i> Home
                    </a>
                    {% elif branch %}
                    <a class="mdc-drawer-link" href="{% url 'home-page' pk=branch.pk %}">
                        <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">home</i> Home
                    </a>
                    {% endif %}
                </div>
                {% if branch1 %}
                <div class="mdc-list-item mdc-drawer-item" style="border-radius: 20px;">
                    <a class="mdc-drawer-link" href="{% url 'category-page' pk=branch1.pk %}">
                        <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">list</i> Category List
                    </a>
                </div>
                {% elif branch %}
                <div class="mdc-list-item mdc-drawer-item" style="border-radius: 20px;">
                    <a class="mdc-drawer-link" href="{% url 'category-page' pk=branch.pk %}">
                        <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">list</i> Category List
                    </a>
                </div>
                {% endif %}
                {% if branch1 %}
                <div class="mdc-list-item mdc-drawer-item" style="border-radius: 20px;">
                    <a class="mdc-drawer-link" href="{% url 'product-page' pk=branch1.pk %}">
                        <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">label</i> Product List
                    </a>
                </div>
                {% elif branch %}
                <div class="mdc-list-item mdc-drawer-item" style="border-radius: 20px;">
                    <a class="mdc-drawer-link" href="{% url 'product-page' pk=branch.pk %}">
                        <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">label</i> Product List
                    </a>
                </div>
                {% endif %}
                {% if branch1 %}
                <div class="mdc-list-item mdc-drawer-item" style="border-radius: 20px;">
                    <a class="mdc-drawer-link" href="{% url 'pos-page' pk=branch1.pk %}">
                        <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">payment</i> POS
                    </a>
                </div>
                {% elif branch %}
                <div class="mdc-list-item mdc-drawer-item" style="border-radius: 20px;">
                    <a class="mdc-drawer-link" href="{% url 'pos-page' pk=branch.pk %}">
                        <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">payment</i> POS
                    </a>
                </div>
                {% endif %}
                {% if branch1 %}
                <div class="mdc-list-item mdc-drawer-item" style="border-radius: 20px;">
                    <a class="mdc-drawer-link" href="{% url 'sale-items' pk=branch1.pk %}">
                        <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">receipt</i> Item Sales
                    </a>
                </div>
                {% elif branch %}
                <div class="mdc-list-item mdc-drawer-item" style="border-radius: 20px;">
                    <a class="mdc-drawer-link" href="{% url 'sale-items' pk=branch.pk %}">
                        <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">receipt</i> Item Sales
                    </a>
                </div>
                {% endif %}
<br>
<div class="container-fluid">
<hr style="color: white;">
</div>
<br>
                {% if branch1 %}
                <div class="mdc-list-item mdc-drawer-item" style="border-radius: 20px;">
                    <a class="mdc-drawer-link" href="{% url 'select-customer' pk=branch1.pk %}">
                        <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">list</i> Wholesale POS
                    </a>
                </div>
                {% elif branch %}
                <div class="mdc-list-item mdc-drawer-item" style="border-radius: 20px;">
                    <a class="mdc-drawer-link" href="{% url 'select-customer' pk=branch.pk %}">
                        <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">list</i> Wholesale POS
                    </a>
                </div>
                {% endif %}
                {% if branch1 %}
                <div class="mdc-list-item mdc-drawer-item" style="border-radius: 20px;">
                    <a class="mdc-drawer-link" href="{% url 'inventory' pk=branch1.pk %}">
                        <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true"></i> Inventory
                    </a>
                </div>
                {% elif branch %}
                <div class="mdc-list-item mdc-drawer-item" style="border-radius: 20px;">
                    <a class="mdc-drawer-link" href="{% url 'inventory' pk=branch.pk %}">
                        <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true"></i> Inventory
                    </a>
                </div>
                {% endif %}
                {% if user.is_superuser %}
                    {% if branch1 %}
                        {% if user %}
                    <div class="mdc-list-item mdc-drawer-item" style="border-radius: 20px;">
                        <a class="mdc-drawer-link" href="{% url 'users' pk=branch1.pk pk1=user.pk %}">
                            <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true"></i>Manage Users
                        </a>
                    </div>
                        {% endif %}
                    {% elif branch %}
                        {% if user %}
                    <div class="mdc-list-item mdc-drawer-item" style="border-radius: 20px;">
                        <a class="mdc-drawer-link" href="{% url 'users' pk=branch.pk pk1=user.pk %}">
                            <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true"></i>Manage Users
                        </a>
                    </div>
                        {% endif %}
                    {% endif %}
                {% endif %}
                {% if branch1 %}
                <div class="mdc-list-item mdc-drawer-item" style="border-radius: 20px;">
                    <a class="mdc-drawer-link" href="{% url 'shift' pk=branch1.pk %}">
                        <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true"></i> Shifts
                    </a>
                </div>
                {% elif branch %}
                <div class="mdc-list-item mdc-drawer-item" style="border-radius: 20px;">
                    <a class="mdc-drawer-link" href="{% url 'shift' pk=branch.pk %}">
                        <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true"></i> Shifts
                    </a>
                </div>
                {% endif %}
            </nav>
        </div>
    </div>
</aside>
<!-- partial -->