{% extends "posApp/base.html" %}  {% block pageContent %}
{% if branch %}
<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
    <div class="mdc-card py-2">
        <div class="d-flex justify-content-between align-items-center">
            <h4 class="card-title mb-0">Shift Items sold</h4>
            <div class="text-start">
                {% if shift %}
                    Total Sales: GMD{{ shift.shift_sales }}
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div>
<button onclick="window.print()" id="print" style="border: none; width: 140px; height: 60px;"> Print Sold Items
</button>
</div>
<button id="copy-to-clipboard" style="border: none; background-color: black; color: white; width: 140px; height: 60px;  margin-left: 22px;">
    Copy sales
</button>
<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
    <div class="mdc-card">
        <div class="table-responsive">
            <table class="table table-striped table-bordered" id="content-to-copy">
                <colgroup>
                    <col width="5%">
                    <col width="20%">
                    <col width="25%">
                    <col width="10%">
                    <col width="10%">
                    <col width="10%">
                    <col width="10%">
                    <col width="10%">

                </colgroup>
                <thead>
                    <tr>
                        <th class="text-center py-1">#</th>
                        <th class="text-center py-1">Sale ID</th>
                        <th class="text-center py-1">Product</th>
                        <th class="text-center py-1">Price</th>
                        <th class="text-center py-1">Quantity</th>
                        <th class="text-center py-1">Total</th>
                        <th class="text-center py-1">Date Sold</th>
                        <th class="text-center py-1">Sold by</th>
                        <th class="text-center py-1">Remaining stock</th>
                    </tr>
                </thead>
                <tbody>
                {% if sale_data %}
                    {% for sold in sale_data %}
                    <tr>
                        <td class="px-2 py-1 text-center">{{ sold.id }}</td>
                        <td class="px-2 py-1 text-start">{{ sold.sale_id }}</td>
                        <td class="px-2 py-1 text-start">{{ sold.product_id }}</td>
                        <td class="px-2 py-1 text-end">D{{ sold.price }}</td>
                        <td class="px-2 py-1 text-end">{{ sold.qty }}</td>
                        <td class="px-2 py-1 text-center">D{{ sold.total }}</td>
                        <td class="px-2 py-1 text-center">{{ sold.date_added|date:'Y-m-d H:i' }}</td>
                        <td class="px-2 py-1 text-center">{{ sold.user }}</td>
                        <td class="px-2 py-1 text-start">{{ sold.product_id.stock }}</td>
                    </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endif %}
{% endblock pageContent %}{% block ScriptBlock %}
<script>
    const copyToClipBoard = () => {
        const copyContent = document.getElementById('content-to-copy');
        navigator.clipboard.writeText(copyContent.innerText);
    };

    const button = document.getElementById('copy-to-clipboard');
    button.addEventListener('click', () => {
        copyToClipBoard();
    });
</script>

{% endblock ScriptBlock %}
