{% extends 'posApp/index.html' %}
<style>
.goto:hover{
  background-color: springgreen;
}
.goto-supply:hover{
  background-color: coral;
}
</style>

{% block content %}
{% if user %}
  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Connections</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'user-dash' request.user %}">Home</a></li>
          <li class="breadcrumb-item active">Supplier Connections</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

<section class="section dashboard">
      <div class="row">

        <!-- Left side columns -->


            <!-- Sales Card -->
{% if suppliers %}
          {% for supplier in suppliers %}
              <!--<div class="card info-card sales-card" style="margin: 19px;">

                <div class="card-body">
                  <h5 class="card-title">Sales <span>| Today</span></h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-cart"></i>
                    </div>
                    <div class="ps-3">
                      <h6>{{ sold }}</h6>
                    </div>
                  </div>
                </div>

              </div>-->

          <div class="card" style="margin: 8px; border-radius: 4px;">
          <p><strong>{{ supplier.name }}</strong></p>
                          <p>+220 {{ supplier.phone }}</p>
          <div class="container-fluid" style="display: flex;">
            <a href="{% url 'dashboard-supplier-supplies' pk=user.pk pk1=supplier.pk %}">
            <button class="goto" style="margin: 4px; border-width: 0px; border-radius: 5px; border-color: none; color: green; transition: 0.7s;">
              View products supplied
            </button>
            </a>
          </div>
        </div>
          {% endfor %}
{% endif %}
          <div class="card" style="margin: 8px; border-radius: 4px;">
          <p><strong>Click button below to add new suppliers</strong></p>
          <div class="container-fluid" style="display: flex;">
            <a href="{% url 'add-supplier' pk=user.pk %}">
            <button class="goto-supply" style="margin: 4px; border-width: 0px; border-radius: 5px; border-color: none; color: black; transition: 0.7s;">
                        Add new supplier connection
            </button>
            </a>
          </div>
        </div>
          </div>
</section>

  </main><!-- End #main -->
{% endif %}
{% endblock %}