{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
    <link rel="stylesheet" href="{% static 'posApp/assets/bootstrap/css/bootstrap.min.css' %}">

    <!-- <link rel="stylesheet" href="{% static 'posApp/assets/select2/dist/css/select2.min.css' %}"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css">
    <link rel="stylesheet" href="{% static 'posApp/assets/default/css/style.css' %}">
    <!-- End layout styles -->
    <script src="{% static 'posApp/assets/default/js/jquery-3.6.0.min.js' %}">
    </script>
    <!-- <script src="{% static 'posApp/assets/select2/dist/js/select2.full.js' %}"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
</head>

<body>
    <div class="form-group mb-3">
        <label for="category_id" class="control-label">Category</label>
        <select name="category_id" id="category_id" class="form-select form-select-sm rounded-0" required>
        <option value="" disabled selected></option>
        {% for category in categories %}
            <option value="{{ category.id }}">{{ category.name }}</option>
        {% endfor %}
    </select>
</body>
<script>
    $(function() {
        $('#category_id').select2()
    })
</script>


{% if branch %}
<div class="container-fluid">
    <a href="{% url 'cat-add' pk=branch.pk %}">
        <button>
            Add Category
        </button>
    </a>
</div>
{% endif %}
{% if branch %}
<div class="container-fluid">
    <a href="{% url 'prod-add' pk=branch.pk %}">
        <button>
            Add Product
        </button>
    </a>
</div>
{% endif %}
{% if branch %}
<div class="container-fluid">
    <a href="{% url 'sale-add' pk=branch.pk %}">
        <button>
            Add Sale
        </button>
    </a>
</div>
{% endif %}

</html>




branch = Branch.objects.get(id=pk)
    users = branch.user.all()








@login_required
def home(request, pk):
    if request.user.is_authenticated:
        branch = Branch.objects.get(id=pk)
        users = branch.user.all()

        for user in users:
            print(user.email)
            email = user.email

        subject = "Someone just logged into your POS system!!!"
        from_email = settings.EMAIL_HOST_USER
        to_email = [email]
        stuff = settings.BASE_DIR
        fullpath = stuff.joinpath("posApp/templates/posApp/log_in_email.html")
        fullpath = stuff / ("posApp/templates/posApp/log_in_email.html")
        with open(fullpath) as f:
            # with open(settings.BASE_DIR + "/Stores/templates/order_info_email.html") as f:
            order_message = f.read()
        order_message = EmailMultiAlternatives(subject=subject, body=order_message, from_email=from_email, to=to_email)
        html_template = get_template('posApp/log_in_email.html').render({'user': user, 'branch': branch})
        order_message.attach_alternative(html_template, "text/html")
        order_message.send()
        now = datetime.now()
        current_year = now.strftime("%Y")
        current_month = now.strftime("%m")
        current_day = now.strftime("%d")
        categories = len(Category.objects.filter(branch_owner_id=pk))
        products = len(Products.objects.filter(branch_owner_id=pk))
        transaction = len(Sales.objects.filter(
            date_added__year=current_year,
            date_added__month=current_month,
            date_added__day=current_day
        ))
        today_sales = Sales.objects.filter(
            date_added__year=current_year,
            date_added__month=current_month,
            date_added__day=current_day
        ).filter(branch_owner_id=pk)
        total_sales = sum(today_sales.values_list('grand_total', flat=True))
        context = {
            'page_title': 'Home',
            'categories': categories,
            'products': products,
            'transaction': transaction,
            'total_sales': total_sales,
            'branch': branch
        }
        return render(request, 'posApp/home.html', context)
    else:
        return redirect('login-me')




@login_required
def branch_register(request, pk):
    users = Users.objects.get(email=pk)
    # user = Branch.objects.filter(user=request.user)
    user = Users.objects.all()
    context = {'user': user, 'users': users}
    if request.method == "POST":
        # form = BranchForm(request.POST or None)
        # branch = form
        branch_id = request.POST.get('branchid')
        branch_name = request.POST.get('branchname')
        # branch.location = request.POST['branchlocation']
        branch_address = request.POST.get('branchaddress')
        branch_phone = request.POST.get('phone')
        branch_user = request.POST.get('user1')
        branch = Branch.objects.create(id=branch_id, name=branch_name, location=None, address=branch_address, phone=branch_phone)
        branch.user.add(branch_user or None)
        # it is branch.user.add because user is how the many to many field is designated in the models.py
        context['branchid'] = branch
        context['created'] = True
    return render(request, 'posApp/tables-general.html', context=context)