{% extends "labApp/base.html" %} {% block pageContent %}
{% if lab %}
<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
    <div class="mdc-card">
    <div class="card" style="width: 100%;">
    <div class="card-body">
      <center>
      <h4>
        New Investigation successfully added!!
      </h4>
        <a href="{% url 'investigations' lab.id %}">
          <button style="width: 200px; height: 50px; border-radius: 10px; ">
            click here to view list
          </button>
        </a>
      </center>
    </div>
    </div>
</div>
</div>
{% endif %}
{% endblock pageContent %}