{% extends "labApp/base.html" %} {% block pageContent %}
{% if lab %}
{% if patient %}
<style>

</style>
<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
    <div class="mdc-card py-2">
        <div class="d-flex justify-content-between align-items-center">
            <h4 class="card-title mb-0">{{ patient.firstname }} {{ patient.lastname }} Iron Profile results</h4>
            <div class="text-start">
                <a href="{% url 'iron-test' lab.id patient.id %}">
                <button class="btn btn-primary bg-gradient btn-sm rounded-0" id="create_new"><i class="mdi mdi-plus"></i><span> Request new Iron Profile for {{ patient.firstname }}</span></button>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
    <div class="mdc-card">
    <center>
        <h3>
            {{ lab.name }}
        </h3>
    </center>
        <div class="card" style="width: 100%;">
        <div class="card-body" style="margin-left: 30px;">
        <div style="display: flex; width: 100%;">
            <h5.8 style="display: flex;">
                First Name: {{ patient.firstname }}
            </h5.8>
            &nbsp; &nbsp;
            <h5.8 style="display: flex;">
                Last Name: {{ patient.lastname }}
            </h5.8>
            &nbsp; &nbsp;
            <h5.8 style="display: flex;">
                Gender: {{ patient.gender }}
            </h5.8>
            &nbsp; &nbsp;
            <h5.8 style="display: flex;">
                Date of birth: {{ patient.dob }}
            </h5.8>
        </div>
        <hr>
        <div style="display: flex;">
            <h5.8 style="display: flex;">
                Phone number: {{ patient.contact }}
            </h5.8>&nbsp; &nbsp;
            <h5.8 style="display: flex;">
                Address: {{ patient.address }}
            </h5.8>&nbsp; &nbsp;
            <h5.8 style="display: flex;">
                Registered by: {{ patient.created_by.username }}
            </h5.8>&nbsp; &nbsp;
            <h5.8 style="display: flex;">
                Date registered: {{ patient.date_added }}
            </h5.8>&nbsp; &nbsp;
        </div>
        </div>
    </div>
        {% if results %}
        <br>
                    <h3>
                        <strong>Querying Diagnosis :</strong> {% if results.confirmed_diagnosis %}
                        {{ results.confirmed_diagnosis }}
                        {% else %}
                        <strong>
                            No Queried Diagnosis
                        </strong>
                        {% endif %}
                    </h3>
        <br>
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <colgroup>
                    <col width="20%">
                    <col width="20%">
                    <col width="15%">
                    <col width="15%">
                </colgroup>
                <thead>
                    <tr>
                        <th class="text-center py-1">Investigations</th>
                        <th class="text-center py-1">Results</th>
                        <th class="text-center py-1">Normal range</th>
                        <th class="text-center py-1">Lab technician</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="px-2 py-1 text-center">Serum Ferritin</td>
                        <td class="px-2 py-1 end">{% if results.Ferritin %}
                            {{ results.Ferritin }}
                            {% else %}
                            <strong>
                                NIL
                            </strong>
                            {% endif %}
                        </td>
                        <td class="px-2 py-1 text-end"><strong>24 - 336 ng/mL</strong></td>
                        <td class="px-2 py-1 text-end">{{ results.created_by }}</td>
                    </tr>
                    <tr>
                        <td class="px-2 py-1 text-center">Serum Iron</td>
                        <td class="px-2 py-1 end">{% if results.Iron %}
                            {{ results.Iron }}
                            {% else %}
                            <strong>
                                NIL
                            </strong>
                            {% endif %}
                        </td>
                        <td class="px-2 py-1 text-end"><strong>60 - 170 mcg/dl</strong></td>
                        <td class="px-2 py-1 text-end">{{ results.created_by }}</td>
                    </tr>
                    <tr>
                        <td class="px-2 py-1 text-center">Serum Total Iron binding Capacity</td>
                        <td class="px-2 py-1 end">{% if results.Total_IBC %}
                            {{ results.Total_IBC }}
                            {% else %}
                            <strong>
                                NIL
                            </strong>
                            {% endif %}
                        </td>
                        <td class="px-2 py-1 text-end"><strong>250 - 450 mcg/dl</strong></td>
                        <td class="px-2 py-1 text-end">{{ results.created_by }}</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
    </div>
        <button onclick="window.print()" id="print">
            Print Results
        </button>
</div>
</div>
{% endif %}
{% endif %}
{% endblock pageContent %}