{% load static %}
<!-- partial:partials/_sidebar.html -->

<style>
    .mdc-drawer-link{
    transition: 0.6s;
    background-color: gray;
    color: white;
    }
    .mdc-drawer-link:hover{
    background-color: black;
    color: white;
    }
    .mdc-drawer-item{
    transition: 0.6s;
    background-color: gray;
    color: white;
    }
    .mdc-drawer-item:hover{
    background-color: black;
    color: white;
    }
</style>
{% if lab %}
<aside id="nav" class="mdc-drawer mdc-drawer--dismissible mdc-drawer--open bg-dark bg-gradient" style="border-radius: 2px; transition: 1.0s;">
    <div class="mdc-drawer__header border-bottom border-light">

        <a href="{% url 'home-page-lab' lab.pk %}" class="brand-logo">
            <h3 class="text-center text-light">{{ lab.name }}</h3>
        </a>
    </div>
    <div class="mdc-drawer__content">
        <div class="mdc-list-group">
            <nav class="mdc-list mdc-drawer-menu">
                <div class="mdc-list-item mdc-drawer-item" style="border-radius: 20px;">
                    <a class="mdc-drawer-link inactive" href="{% url 'home-page-lab' lab.pk %}">
                        <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">home</i> Home
                    </a>
                </div>
                <div class="mdc-list-item mdc-drawer-item" style="border-radius: 20px;">
                    <a class="mdc-drawer-link" href="{% url 'investigations' lab.pk %}">
                        <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">label</i> Investigations List
                    </a>
                </div>
                <div class="mdc-list-item mdc-drawer-item" style="border-radius: 20px;">
                    <a href="{% url 'patient-page' lab.pk %}" class="mdc-drawer-link">
                        <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">receipt</i> Patients History
                    </a>
                </div>
                <br>
<div class="container-fluid">
<hr style="color: white;">
</div>
<br>
                <div class="mdc-list-item mdc-drawer-item" style="border-radius: 20px;">
                    <a class="mdc-drawer-link" href="{% url 'all-testperformed' lab.pk %}">
                        <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true"></i> Lab Sales
                    </a>
                </div>
                <div class="mdc-list-item mdc-drawer-item" style="border-radius: 20px;">
                    <a class="mdc-drawer-link" href="{% url 'lab-shift' lab.pk %}">
                        <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true"></i> Lab Shifts
                    </a>
                </div>
            </nav>
        </div>
    </div>
</aside>
{% endif %}

<!-- partial -->