{% extends "labApp/base.html" %} {% block pageContent %}
{% if lab %}
{% if patient %}
<style>

</style>
<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
    <div class="mdc-card py-2">
        <div class="d-flex justify-content-between align-items-center">
            <h4 class="card-title mb-0">{{ patient.firstname }} {{ patient.lastname }} Sugar tests results</h4>
            <div class="text-start">
                <a href="{% url 'sugar-test' lab.id patient.id %}">
                <button class="btn btn-primary bg-gradient btn-sm rounded-0" id="create_new"><i class="mdi mdi-plus"></i><span> Request new Sugar test for {{ patient.firstname }}</span></button>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
    <div class="mdc-card">
    <center>
        <h3>
            {{ lab.name }}
        </h3>
    </center>
        <div class="card" style="width: 100%;">
        <div class="card-body" style="margin-left: 30px;">
        <div style="display: flex; width: 100%;">
            <h5.8 style="display: flex;">
                First Name: {{ patient.firstname }}
            </h5.8>
            &nbsp; &nbsp;
            <h5.8 style="display: flex;">
                Last Name: {{ patient.lastname }}
            </h5.8>
            &nbsp; &nbsp;
            <h5.8 style="display: flex;">
                Gender: {{ patient.gender }}
            </h5.8>
            &nbsp; &nbsp;
            <h5.8 style="display: flex;">
                Date of birth: {{ patient.dob }}
            </h5.8>
        </div>
        <hr>
        <div style="display: flex;">
            <h5.8 style="display: flex;">
                Phone number: {{ patient.contact }}
            </h5.8>&nbsp; &nbsp;
            <h5.8 style="display: flex;">
                Address: {{ patient.address }}
            </h5.8>&nbsp; &nbsp;
            <h5.8 style="display: flex;">
                Registered by: {{ patient.created_by.username }}
            </h5.8>&nbsp; &nbsp;
            <h5.8 style="display: flex;">
                Date registered: {{ patient.date_added }}
            </h5.8>&nbsp; &nbsp;
        </div>
        </div>
    </div>
        {% if results %}
        <br>
                    <h3>
                        <strong>Querying Diagnosis :</strong> {% if results.confirmed_diagnosis %}
                        {{ results.confirmed_diagnosis }}
                        {% else %}
                        <strong>
                            No Queried Diagnosis
                        </strong>
                        {% endif %}
                    </h3>
        <br>
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <colgroup>
                    <col width="20%">
                    <col width="20%">
                    <col width="15%">
                    <col width="15%">
                </colgroup>
                <thead>
                    <tr>
                        <th class="text-center py-1">Investigations</th>
                        <th class="text-center py-1">Results</th>
                        <th class="text-center py-1">Normal range</th>
                        <th class="text-center py-1">Lab technician</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="px-2 py-1 text-center">Hemoglobin A1C</td>
                        <td class="px-2 py-1 end">{% if results.HBA1C %}
                            {{ results.HBA1C }}
                            {% else %}
                            <strong>
                                NIL
                            </strong>
                            {% endif %}
                        </td>
                        <td class="px-2 py-1 text-end"><strong>7 - 56 U/L</strong></td>
                        <td class="px-2 py-1 text-end">{{ results.created_by }}</td>
                    </tr>
                    <tr>
                        <td class="px-2 py-1 text-center">Random Blood Glucose</td>
                        <td class="px-2 py-1 end">{% if results.RBG %}
                            {{ results.RBG }}
                            {% else %}
                            <strong>
                                NIL
                            </strong>
                            {% endif %}
                        </td>
                        <td class="px-2 py-1 text-end"><strong>8 - 33 U/L</strong></td>
                        <td class="px-2 py-1 text-end">{{ results.created_by }}</td>
                    </tr>
                    <tr>
                        <td class="px-2 py-1 text-center">Fasting Blood Glucose</td>
                        <td class="px-2 py-1 end">{% if results.FBG %}
                            {{ results.FBG }}
                            {% else %}
                            <strong>
                                NIL
                            </strong>
                            {% endif %}
                        </td>
                        <td class="px-2 py-1 text-end"><strong>3.4 - 5.4 g/dl</strong></td>
                        <td class="px-2 py-1 text-end">{{ results.created_by }}</td>
                    </tr>
                    <tr>
                        <td class="px-2 py-1 text-center">Microalbumin Concentration</td>
                        <td class="px-2 py-1 end">{% if results.microalbumin %}
                            {{ results.microalbumin }}
                            {% else %}
                            <strong>
                                NIL
                            </strong>
                            {% endif %}
                        </td>
                        <td class="px-2 py-1 text-end"><strong>44 - 147 IU/L</strong></td>
                        <td class="px-2 py-1 text-end">{{ results.created_by }}</td>
                    </tr>
                    <tr>
                        <td class="px-2 py-1 text-center">Insulin</td>
                        <td class="px-2 py-1 end">{% if results.insulin %}
                            {{ results.insulin }}
                            {% else %}
                            <strong>
                                NIL
                            </strong>
                            {% endif %}
                        </td>
                        <td class="px-2 py-1 text-end"><strong>0.1 - 0.3 mg/dl</strong></td>
                        <td class="px-2 py-1 text-end">{{ results.created_by }}</td>
                    </tr>
                    <tr>
                        <td class="px-2 py-1 text-center">C-Peptide</td>
                        <td class="px-2 py-1 end">{% if results.c_pepetide %}
                            {{ results.c_pepetide }}
                            {% else %}
                            <strong>
                                NIL
                            </strong>
                            {% endif %}
                        </td>
                        <td class="px-2 py-1 text-end"><strong>0.1 - 1.2 mg/dl</strong></td>
                        <td class="px-2 py-1 text-end">{{ results.created_by }}</td>
                    </tr>
                    <tr>
                        <td class="px-2 py-1 text-center"> Serum Glucose</td>
                        <td class="px-2 py-1 end">{% if results.serum_glucose %}
                            {{ results.serum_glucose }}
                            {% else %}
                            <strong>
                                NIL
                            </strong>
                            {% endif %}
                        </td>
                        <td class="px-2 py-1 text-end"><strong>5 - 40 U/L</strong></td>
                        <td class="px-2 py-1 text-end">{{ results.created_by }}</td>
                    </tr>
                    <tr>
                        <td class="px-2 py-1 text-center">Oral Glucose</td>
                        <td class="px-2 py-1 end">{% if results.oral_glucose %}
                            {{ results.oral_glucose }}
                            {% else %}
                            <strong>
                                NIL
                            </strong>
                            {% endif %}
                        </td>
                        <td class="px-2 py-1 text-end"><strong>2.0 - 3.5 g/dl</strong></td>
                        <td class="px-2 py-1 text-end">{{ results.created_by }}</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
    </div>
        <button onclick="window.print()" id="print">
            Print Results
        </button>
</div>
</div>
{% endif %}

{% endif %}
{% endblock pageContent %}